<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Yandex LLC. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>ru.yandex.YandexSpeechKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>YandexSpeechKit</string>
	<key>CFBundleExecutable</key>
	<string>YandexSpeechKit</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
